<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Base Project</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
Hello {{name}}

{{{include.footer}}}
<script src="js/main.js"></script>
</body>
</html>